.numpad.condensed {
  height: calc(90% - var(--result__display-height));
}
.numpad {
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
.oper-equal {
  background-color: var(--color-primary);
  box-shadow: 0 8px 1.3rem -0.6rem var(--black-transparent);
  border-radius: 3rem;
  margin: 1rem;
}
.oper-equal:active {
  box-shadow: 0 1px 4px var(--black-transparent);
  transform: translateY(1px);
}
// ADD FUNCTION OVERLAY STYLE HERE
