.more {
  width: 100%;
  height: calc(10% + 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: none;
  position: absolute;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  top: calc(var(--result__display-height) - 8px);
  box-shadow: 0 -4px 0.5rem -0.4rem var(--black-transparent);
  border-radius: 12px;
}
.more.expanded {
  transform: translateY(-10px);
}
.more__chevron-up {
  height: 2rem;
  margin-top: 0.5%;
}
.more__dark-mode-container {
  padding-bottom: 3rem;
}
.more .checkbox {
  margin-left: 0.5rem;
}
.numpad.condensed {
  height: calc(90% - var(--result__display-height));
}
.numpad {
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
.oper-equal {
  background-color: var(--primary-container);
  box-shadow: 0 8px 1.3rem -0.6rem var(--black-transparent);
  border-radius: 3rem;
  margin: 1rem;
}
.oper-equal:active {
  box-shadow: 0 1px 4px var(--black-transparent);
  transform: translateY(1px);
}
// ADD FUNCTION OVERLAY STYLE HERE
