@import "config";
.fab {
  appearance: none;
  background: transparent;
  border: none;
}
.menu {
  --fab-menu: 5rem;
  position: absolute;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 2rem;
  z-index: 2;
  background: var(--color-background);
  transition: clip-path 0.7s cubic-bezier(0.32, 0.45, 0.12, 0.83),
    background-color 0.2s var(--easing);
  clip-path: circle(
    var(--fab-menu) at calc(var(--fab-menu)) calc(var(--fab-menu))
  );
  will-change: clip-path;
  &.expanded {
    background-color: var(--color-primary);
    clip-path: circle(135% at calc(var(--fab-menu)) calc(var(--fab-menu)));
  }
}
.menu__option {
  cursor: pointer;
  // width: 96%;
  border: none;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.theme-container {
  margin-top: 4rem;
}
.menu__content {
  margin-top: 2rem;
  h2 {
    font-weight: 400;
  }
}

// Active on devices that have a pointer,
// Usually not mobiles I think
@media (hover: hover) {
  // Menu text animation
  svg.menu-icon-complete {
    .menu-icon__text {
      transform: translateY(100%) skewY(10deg);
      transition: 0.6s var(--easing);
    }
    &:hover {
      .menu-icon__text {
        transform: unset;
      }
    }
  }
}
