@import "config";
.fab {
  transition: 0.6s var(--easing);
}
.menu {
  --fab-menu: 5rem;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background: var(--color-background);
  transition: clip-path 0.7s cubic-bezier(0.32, 0.45, 0.12, 0.83),
    background-color 0.2s var(--easing);
  clip-path: circle(
    var(--fab-menu) at calc(var(--fab-menu)) calc(var(--fab-menu))
  );

  &.expanded {
    background-color: var(--color-primary);
    clip-path: circle(135% at calc(var(--fab-menu)) calc(var(--fab-menu)));
  }
}
.fab {
  border: none;
  transform: translate(2rem, 2rem);
  height: 3rem;
  width: 6rem;
  white-space: nowrap;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.2rem;
  overflow: hidden;
  .icon {
    position: absolute;
    left: 0;
  }
  &::after {
    position: absolute;
    left: 2rem;
    content: attr(data-text);
    transform: skewY(10deg) translateY(150%);
    transition: 0.55s var(--easing);
  }
  &:hover {
    &::after {
      transform: skewY(0deg) translateY(0);
    }
  }
}

// TODO add media query here to expand
// the menu by default on mobiles
